.footer {
  background-color: $black-bg-color;
  &__join {
    text-align: center;
    margin-bottom: 60px;
    @include mq(desc) {
      margin-bottom: 0;
      text-align: left;
    }
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $third-text-color;
  @include mq(tab-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include mq(desc) {
    display: flex;
    align-items: baseline;
  }
}

.footer__adress {
  margin-bottom: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  @include mq(desc) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer__link {
  display: block;
  margin-top: 8px;

  color: $footer-link-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  @include transition(color $timing $cubic);
  @include mq(desc) {
    margin-top: 9px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__text {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer__social {
  margin-top: 0;
  &--hovered {
    fill: $third-text-color;
    background: rgba(255, 255, 255, 0.1);

    @include transition(background-color $timing $cubic);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}
