.subscribe {
  text-align: center;
  @include mq(tab-only) {
    width: 450px;
  }
  @include mq(desc) {
    margin-left: auto;
    text-align: left;
  }
}

.subscribe__form {
  @include mq(desc) {
    display: flex;
  }
}

.subscribe__input {
  @include mq(mob-only) {
  }
  height: 50px;
  padding-left: 16px;
  width: 358px;

  font-size: 16px;
  line-height: 1.25;
  color: $primary-bg-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $black-bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include mq(noDesc) {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}
