.menu-button {
  display: none;
  @include mq(mob-only) {
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    cursor: pointer;

    color: $logo-color;
    border: none;
    background-color: transparent;
    z-index: 2;
    &.is-open {
      position: fixed;
      top: 10px;
      right: 15px;
    }
  }
}
.menu-button__close {
  @include mq(mob-only) {
    transition: fill $timing $cubic;

    .menu-button:hover &,
    .menu-button:focus & {
      fill: $accent-color;
    }
    .menu-button & {
      display: none;
    }
    .menu-button.is-open & {
      display: block;
    }
  }
}

.menu-button__menu {
  @include mq(mob-only) {
    transition: fill $timing $cubic;

    .menu-button:hover &,
    .menu-button:focus & {
      fill: $accent-color;
    }
    .menu-button.is-open & {
      display: none;
    }
  }
}
