.clients__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $primary-text-color;
  @include mq(desc) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  @include mq(mob-only) {
    @include flex-basis(2);
  }
  @include mq(tab-only) {
    @include flex-basis(3);
  }
  @include mq(desc) {
    @include flex-basis(6);
  }
}
.clients__link {
  @extend %flexCentered;
  width: 100%;
  height: 92px;

  border: 1px solid $icon-color;
  border-radius: 4px;
  fill: $icon-color;

  @include transition(border-color $timing $cubic, fill $timing $cubic);
  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
