.modal {
  max-width: 450px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @include transition(transform $timing $cubic, visibility $timing $cubic);

  @include mq(mob-only) {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  @include mq(tab) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;

    transform: translate(-50%, -50%) scale(1);
  }
  @include mq(desc) {
    min-width: 528px;
  }
}

.btn--close {
  position: absolute;
  top: 8px;
  right: 8px;

  @extend %flexCentered;
  margin-left: auto;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  @include transition(fill $timing $cubic);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
