.policy {
  @extend %flexCentered;
  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.17;
  color: $secondary-text-color;
  @media (max-width: 320px) {
    font-size: 6px;
  }
  @include mq(desc) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__link {
  color: $accent-color;
}

.policy__checkbox {
  position: absolute;
  appearance: none;
}

.policy__icon {
  flex-shrink: 0;
  margin-right: 7px;

  border: 2px solid #000000;
  border-radius: 4px;

  @include transition(background-color $timing $cubic, border-color $timing $cubic);

  .policy__checkbox:checked + & {
    background-color: $accent-color;
    border-color: transparent;
  }

  .policy__checkbox:focus + & {
    border-color: $accent-color;
  }
}
