.policy {
  @extend %flexCentered;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  color: $secondary-text-color;
}

.policy__link {
  color: $accent-color;
}

.policy__checkbox {
  position: absolute;
  appearance: none;
}

.policy__icon {
  margin-right: 7px;

  border: 2px solid #000000;
  border-radius: 4px;

  @include transition(background-color $timing $cubic, border-color $timing $cubic);

  .policy__checkbox:checked+& {
    background-color: $accent-color;
    border-color: transparent;
  }

    .policy__checkbox:focus+&{
      border-color: $accent-color;
    }
}

