.footer {
  background-color: $black-bg-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
  color: $third-text-color;
}

.footer__adress {
  margin-right: 70px;
  font-size: 14px;
  line-height: 1.71;
}

.footer__link {
  display: block;
  margin-top: 9px;

  color: $footer-link-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  @include transition(color $timing $cubic);
  
  &:hover,
    &:focus {
      color: $accent-color;
    }
}


.footer__text {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer__social {
  margin-top: 0;
  &--hovered {
      fill: $third-text-color;
      background: rgba(255, 255, 255, 0.1);
  
      @include transition(background-color $timing $cubic);

      &:hover,
      &:focus {
          background-color: $accent-color;
        }
    }
}


