.filters__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 8px;
  @include mq(mob-only) {
    margin-top: -15px;
  }
  @include mq(tab) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @include mq(desc) {
    margin-bottom: 50px;
  }
}
.filters__item {
  @include mq(mob-only) {
    margin-top: 15px;
  }
}
