@mixin transition($property...) {
  transition: $property;
}

@mixin flex-basis($quantity) {
  flex-basis: calc((100% - #{$quantity - 1} * 30px) /#{$quantity});
}
@mixin mob {
  @media screen and (min-width: #{$mobile}) {
    min-width: $mobile;
  }
}
@mixin tab {
  @media screen and (min-width: #{$tablets}) {
    min-width: $tablets;
  }
}
@mixin desc {
  @media screen and (min-width: #{$desktop}) {
    min-width: $desktop;
  }
}
