//COLORS
$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff;
$accent-color: #2196f3;

//BG&SHADOWS
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$black-bg-color: #2f303a;
$shadow: rgba(0, 0, 0, 0.25);

//ELEMENTS COLORS
$logo-color: #000000;
$icon-color: #afb1b8;
$btn-accent: #188ce8;
$footer-link-color: #ffffff99;

//FONTS
$font-family: Roboto, sans-serif;
$logo-font-family: Raleway, serif;

//MIXIN
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$timing: 250ms;
