//COLORS
  $primary-text-color: #212121;
  $secondary-text-color: #757575;
  $third-text-color: #FFFFFF;
  $accent-color: #2196F3;

//BG&SHADOWS
  $primary-bg-color: #ffffff;
  $secondary-bg-color: #F5F4FA;
  $black-bg-color: #2F303A;
  $shadow: rgba(0, 0, 0, 0.25);

//ELEMENTS COLORS
  $logo-color: #000000;
  $icon-color: #AFB1B8;
  $btn-accent: #188CE8;
  $footer-link-color: #FFFFFF99;

//FONTS
  $font-family: Roboto,sans-serif;
  $logo-font-family: Raleway, serif;

//MIXIN
  $cubic: cubic-bezier(0.4, 0, 0.2, 1);
  $timing: 250ms;