.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &--hidden-text {
      margin-top: 0;
      margin-bottom: 0;
  
      color: $secondary-text-color;
      font-size: 16px;
      line-height: 1.88;
    }
}

.card-set__item {
  @include flex-basis(3);
}

.card-set__link {
  display: block;

  color: currentColor;
  text-decoration: none;

  @include transition(box-shadow $timing $cubic);

  &:hover,
    &:focus {
      box-shadow: 0px 4px 4px 0px #00000040;
    }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.card-set__text {
  position: absolute;
  margin: 0;
  padding: 63px 23px;

  font-size: 18px;
  line-height: 1.56;
  color: $third-text-color;
  background-color: #2196F3E5;

  transform: translateY(0);
  @include transition(transform $timing $cubic);

  .card-set__link:hover & {
    transform: translateY(-100%);
  }
}

.card-set__card {
  padding: 20px 24px;

  border: 1px solid #EEEEEE;
  border-top: none;
}


.card-set__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

